* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex; 
    flex-direction: column;
    align-items: center;
    background: #1F2937;
    color: #F9FAF8;
    padding-top: 10px;
}


.hero {
    display: flex;
    width: 80%; 
    gap: 10px; 
    margin-top: 30px; 
    margin-bottom: 54px;
    justify-content: space-between;
}

.hero-img {
    margin-left: 40px;
    height: 360px;
    width: auto;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8; 
    font-weight: 900;
}

.header-logo {
    font-size: 24px;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.assemble {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 20px; 
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 32px;
}

.setup {
    margin-top: 32px; 
}

.container {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.main {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.info-header {
    font-size: 36px;
    color: #1F2937; 
    font-weight: 900; 
    margin-top: 36px;
}

.image-row {
    display: flex; 
    gap: 50px; 
    margin-top: 36px;
    height: 500px; 
}


.image-block {
    width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.image-block img {
    background-color: white;
    /*
    border-color: #3882F6;
    border-style: solid;
    border-width: 3px;
    */
    object-fit: contain;
    height: 200px;
}

.image-block div {
    color: #1F2937; 
    text-align: center;
    margin-top: 6px;
    font-size: 18px; 
    font-weight: 600;
}

.vs {
    color: #1F2937; 
    font-size: 44px;
    font-weight: 900; 
    align-self: center; 
    height: 340px;           
}